<!doctype html>
<html>
<head>
<link rel="stylesheet" href="style.css">
	<title>Inserting data into database using php</title>
</head>
<body> 
<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="logo.jpg" width="45" height="45" class="d-inline-block align-top" alt="logo" loading="lazy">
          Vidyavardhini's College of Engineering &amp; Technology
        </a>
        <ul class="nav justify-content-end">
        <li class="nav-item">
         <!---- <a class="nav-link active" href="index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link mx-5" href="index">LogOut</a>
        </li>
      </ul>
      </nav>	
<form action="#" method="#">
<table>
<tr>
<td>ID: </td>
<td><input type="text" name="id">
</tr>
<tr>
<td>Password: </td>
<td><input type="text" name="pswd">
</tr>

</table>
</form>
</body>
</html>