#body{
    background-image: url('image.jpg');
    background-color: #cccccc;
}

.card {         /*my additional class name -for card*/
    margin-left: auto;      
    margin-right: auto;
    margin-top: 5em;
    
}