{% extends 'pmain_base.html'%}
{% block content %}
<div class = 'row'>
    <div class = 'col-sm-8 offset-2'>
        <h4 class='alert alert-info'>Update Student </h4>
        <form action='' method = 'POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type = 'submit' class='btn btn-primary' value="Update Information">
            <button type="button" class="btn btn-outline-primary"><a href="/pmain_add">Back</a></button>
          
        </form>
    </div>
</div>
{% endblock content%}